/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 0 12px;
  }
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-border {
  border-bottom: 1px solid #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  height: 96px;
  background-color: white;
  width: 100%;
}

@media (max-width: 768px) {
  .header-border {
    height: 57px;
  }
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header .logo {
  position: absolute;
  left: 0;
}

@media (max-width: 768px) {
  .header .logo {
    margin-left: 12px;
  }
}

.header .logo .logo-pc {
  display: block;
}

@media (max-width: 768px) {
  .header .logo .logo-pc {
    display: none;
  }
}

.header .logo .logo-sm {
  display: none;
}

@media (max-width: 768px) {
  .header .logo .logo-sm {
    display: block;
  }
}

.header .header-nav-list .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding: 32px 0;
}

@media (max-width: 768px) {
  .header .header-nav-list .header-nav {
    display: none;
    position: absolute;
    top: 57px;
    left: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 999;
    text-align: center;
    background: white;
    padding: 40px 0;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .header .header-nav-list .header-nav li {
    padding-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .header .header-nav-list .header-nav li:last-child {
    padding-bottom: 0;
  }
}

.header .header-nav-list .header-nav a {
  position: relative;
  padding: 4px 8px;
  display: inline-block;
}

.header .header-nav-list .header-nav a:hover {
  font-weight: bold;
}

.header .header-nav-list .header-nav a:hover .border {
  display: block;
}

.header .header-nav-list .border {
  display: none;
  width: 8px;
  height: 8px;
}

.header .header-nav-list .border-top-left {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 2px solid #919191;
  border-left: 2px solid #919191;
}

.header .header-nav-list .border-top-right {
  position: absolute;
  top: 0;
  right: 0;
  border-right: 2px solid #919191;
  border-top: 2px solid #919191;
}

.header .header-nav-list .border-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  border-left: 2px solid #919191;
  border-bottom: 2px solid #919191;
}

.header .header-nav-list .border-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  border-right: 2px solid #919191;
  border-bottom: 2px solid #919191;
}

.header .header-nav-list .header-nav .open {
  display: block;
}

.header-btn {
  display: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 8px 0;
}

@media (max-width: 768px) {
  .header-btn {
    display: block;
  }
}

.close {
  display: none;
}

.open {
  display: block !important;
}
/*# sourceMappingURL=all.css.map */