/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  color: #3B3B3B;
}

img {
  vertical-align: middle;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;

  color: black;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 2.5rem 0;
}

.footer-bg {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.left-zone {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.right-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.btn {
  background-color: white;
  border: solid 1px #C1C1C1;
  border-radius: 8px;
  color: #3B3B3B;
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 8px 24px;
}
.btn:hover {
  background-color: black;
  color: white;
}

.btn-dark {
  background-color: black;
  color: white;
}
.btn-dark:hover {
  background-color: white;
  color: #3B3B3B;
}

span {
  color: #919191;
}

.logo {
  width: 7.5rem;
}

@media screen and (max-width: 768px) {
  .footer-bg {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true");
  }
  .left-zone {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .right-zone {
    width: 80%;
  }
}/*# sourceMappingURL=all.css.map */

}

h4 {
  font-size: 24px;
  line-height: 1.2;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}


/* benner */
.warp {
  width: 100%;
  background: #FAFAFA;
  padding: 80px 0;
}

.benner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benner-title {
  position: relative;
  text-align: center;
  color: #1E1E1E;
  padding: 59px 71px;
  margin-bottom: 24px;
}
.benner-title span {
  width: 100%;
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/mark.png);
  background-repeat: no-repeat;
  background-position: bottom 3px center;
  background-size: 100%;
}
.benner .quote-L {
  position: absolute;
  top: 0;
  left: 0;
}
.benner .quote-R {
  position: absolute;
  bottom: 0;
  right: 0;
}
.benner .quote-m-L {
  display: none;
}
.benner-items {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding: 0 330px;
}
.benner-items-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3B3B3B;
}
.benner .bottom-line {
  position: relative;
  color: #5B5B5B;
  padding-bottom: 4px;
  margin-bottom: 10px;
}
.benner .bottom-line::after {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  background: #C1C1C1;
  bottom: -2px;
  left: 33.333%;
}

@media (max-width: 992px) {
  .benner-items {
    padding: 0 150px;
  }
}
@media (max-width: 375px) {
  .warp {
    padding: 0;
  }
  .benner-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 37.5px;
    margin-bottom: 0;
  }
  .benner .quote-L {
    display: none;
  }
  .benner .quote-R {
    display: none;
  }
  .benner .quote-m-L {
    display: block;
  }
  .benner-items {
    flex-direction: column;
    row-gap: 20px;
    padding: 0 70px 80px;
  }
}
/*  */
.pb-16 {
  padding-bottom: 16px;
}

@media (max-width: 375px) {
  .pb-s-8 {
    padding-bottom: 8px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 12px;
  }
}

.header-border {
  border-bottom: 1px solid #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  height: 57px;
  background-color: white;
  width: 100%;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header .logo {
  position: absolute;
  left: 0;
}

@media (max-width: 768px) {
  .header .logo {
    margin-left: 12px;
  }
}

.header .logo .logo-pc {
  display: block;
}

@media (max-width: 768px) {
  .header .logo .logo-pc {
    display: none;
  }
}

.header .logo .logo-sm {
  display: none;
}

@media (max-width: 768px) {
  .header .logo .logo-sm {
    display: block;
  }
}

.header .header-nav-list .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding: 32px 0;
}

@media (max-width: 768px) {
  .header .header-nav-list .header-nav {
    display: none;
    position: absolute;
    top: 57px;
    left: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 999;
    text-align: center;
    background: white;
    padding: 40px 0;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .header .header-nav-list .header-nav li {
    padding-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .header .header-nav-list .header-nav li:last-child {
    padding-bottom: 0;
  }
}

.header .header-nav-list .header-nav a {
  position: relative;
  padding: 4px 8px;
  display: inline-block;
}

.header .header-nav-list .header-nav a:hover {
  font-weight: bold;
}

.header .header-nav-list .header-nav a:hover .border {
  display: block;
}

.header .header-nav-list .border {
  display: none;
  width: 8px;
  height: 8px;
}

.header .header-nav-list .border-top-left {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 2px solid #919191;
  border-left: 2px solid #919191;
}

.header .header-nav-list .border-top-right {
  position: absolute;
  top: 0;
  right: 0;
  border-right: 2px solid #919191;
  border-top: 2px solid #919191;
}

.header .header-nav-list .border-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  border-left: 2px solid #919191;
  border-bottom: 2px solid #919191;
}

.header .header-nav-list .border-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  border-right: 2px solid #919191;
  border-bottom: 2px solid #919191;
}

.header .header-nav-list .header-nav .open {
  display: block;
}

.header-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 8px 0;
}

.close {
  display: none;
}

.open {
  display: block !important;
}



