@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

*,*::after,*::before {
    box-sizing: border-box;
}
// *{
//     outline: 1px solid #000;
// }
body {
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: black;
}
img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}