.container {
	max-width: 1296px;
	margin: 0 auto;
}
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (max-width: 768px) {
		justify-content: flex-end;
	}
	.logo {
		position: absolute;
		left: 0;
	}
	.header-nav-list {
		.header-nav {
			display: flex;
			gap: 40px;
			padding: 32px 0;
			@media (max-width: 768px) {
				display: none;
				position: absolute;
				padding: 0;
				top: 50px;
				left: 50%;
				flex-direction: column;
				z-index: 99;
				text-align: center;
			}
			li {
				position: relative;
				
				a {
					padding: 4px 6px;
					display: block;
					&:hover:before {
						content: "";
						width: 8px;
						height: 8px;
						border-left: 2px solid #000;
						border-top: 2px solid #000;
						position: absolute;
						left: 0px;
						top: 0px;
					}
					&:hover:after {
						content: "";
						width: 8px;
						height: 8px;
						border-right: 2px solid #000;
						border-bottom: 2px solid #000;
						position: absolute;
						right: 0px;
						bottom: 0px;
					}
					// &:hover:before {
					// 	content: "";
					// 	width: 8px;
					// 	height: 8px;
					// 	border-left: 2px solid #000;
					// 	border-bottom: 2px solid #000;
					// 	position: absolute;
					// 	left: 0px;
					// 	bottom: 0px;
					// }
					// &:hover:after {
					// 	content: "";
					// 	width: 8px;
					// 	height: 8px;
					// 	border-right: 2px solid #000;
					// 	border-top: 2px solid #000;
					// 	position: absolute;
					// 	right: 0px;
					// 	top: 0px;
					// }
				}
			}
		}
	}
}
.header-d-none {
	display: none;
}
.header-btn {
	background-color: transparent;
	border: 0;
	cursor: pointer;
}
.header-nav-btn {
	display: none;
	@media (max-width: 768px) {
		display: block;
	}
}

.close {
  display: none;
}